body{
  margin: 25px;
}
@font-face {
  font-family: pacifico;
  src: url(font/Pacifico.ttf);
}
@font-face {
  font-family: consola;
  src: url(font/CONSOLA.TTF);
}
@font-face {
  font-family: bebas;
  src: url(font/bebas.otf);
}
@font-face {
  font-family: greatvibes;
  src: url(font/greatvibes.ttf);
}
@font-face {
  font-family: merriweather;
  src: url(font/Merriweather.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(font/Montserrat.ttf);
}



img.headimg{
  width: 15%;
  position: absolute
}
h1{
  padding-left: 60px;
  padding-top:22px;
  font-size: 23px;
}
#navicon{
  font-size: 25px;
  position: absolute;
  padding-left: 292px;
  padding-top: 12px;
}
#navicon ul{
  display: hidden ;
  position: fixed;
}
div.navbar:hover ul{
 margin-left: -190px;
  position: fixed;
  background-color: indianred;
  padding-right: 40px;
  width: 200px;
}
#navicon ul li{
  list-style-type: none;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  padding: 0px;
  display: hidden;
}
#navicon a{
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: normal;
}






h2.head{
  text-align: center;
  margin-top: -20px;
  
}
img.tbheo{
  width: 100%;
  height: auto;
}
p{
  color: #545454;
  line-height: 27px;
  font-size: 15px;
  font-family: consola;
}
p.donate{
  text-align: center;
  background-color: red;
  padding: 10px 0px;
  cursor: pointer;
  margin: 0px 110px;
  font-size: 17px;
}
p.donate a{
  text-decoration: none;
  color: white;
}





footer{
  background-color: #F6F6F6;
  padding: 30px;
  margin: -20px;
}
footer a {
  text-decoration: none;
  color: black;
}
a i{
  font-size: 20px;
}
footer p{
  font-size: 15px;
  font-family: consola;
}
div.work{
  float: right;
  margin-top: -105px;
}
p.copy{
  text-align: center;
}
p.a{
  text-align: center;
  color: black;
}
